<div class="card">
  <header class="card-header">
    <div class="column">
      <a href="#" onclick="showMarker({{property.id}})">{{property.address}} </a></p>
    </div>
  </header>

 <div class="card-content">
    <div class="content">
    <img src='/images/house{{property.id}}.jpeg' style='height:100px'/>
    </div>
    <br/> 
    <div class="post-footer">
    <img src='/images/trash.png' title="Unlike" style='margin-left:20px;width:30px;cursor:pointer' onclick="removeProperty({{property.id}})"/> 
    <img src='/images/like.png?n=1' style='margin-left:20px;width:30px;cursor:pointer' onclick="likeProperty({{property.id}})"/><label class='like{{property.id}}' style='margin-left:5px;font:bold 30px arial'>20</label>
    </div>
        
    </div>